.boxCart svg, .boxCart path{
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}

.boxCart button{
  width: 160px;
  font-size: 12px !important;
}

.trueWishlist svg, .trueWishlist path{
  color: goldenrod;
}